[Unit]
Description=Vielheit

[Service]
User=nobody
# The configuration file application.properties should be here:
WorkingDirectory=/opt
ExecStart=/usr/bin/java -Xmx256m -jar vielheit.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
