html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}


/* LOGIN  */
.login {
    margin: 0 auto;
    width: 300px;
}

.login>.login-title-border {
    border: 1px dotted black;
    transform: rotate(22deg);
    z-index: -10;
}

.login>.login-form div {
    display: inline-block;
}

.login>.login-form label{
    display: block;
    margin: 0;
    transform: rotate(358deg);
}

.login>.login-form input {
    margin: 10px 0;
    transform: rotate(3deg);

}

.login>.login-form button {
    margin-left: 14px;
    padding: 4px;
    transform: rotate(45deg);
}

.login .login-accent-1 {
    font-size: 80px;
    transform: scaleY(-1);
}

.login .app-name {
    font-size: 100px;
    font-weight: light;
    font-style: italic;
    text-shadow: 2px 40px #ff44aa;
    border-bottom: 15px solid #ff44aa;
}
